<table class="table" style="background-color: #ffffff">
    <thead>
    <tr>
        <th>#</th>
        <th>Front</th>
        <th>Back</th>
        <th>Due</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="card in cards">
        <td>{{$index+1}}</td>
        <td>{{card.front}}</td>
        <td>{{card.back}}</td>
        <td>{{timeDiff(card.nextRepitition)|readableTime}}</td>
    </tr>
    </tbody>
</table>