<form class="form-horizontal well" ng-show="deckids">
    <div ng-show="error" class="alert alert-danger">Something went wrong
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    x</div>
    <div ng-show="success" class="alert-success alert">Created/Updated deck {{id}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="form-group">
        <label for="deckid" class="col-sm-2 control-label">Deck-ID</label>
        <div class="col-sm-10">
            <input type="text" ng-disabled ="lockId" class="form-control" id="deckid" ng-model="id" placeholder="id">
        </div>
    </div>
    <div class="form-group">
        <label for="decktitle" class="col-sm-2 control-label">Deck Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="decktitle" ng-model="title" placeholder="title">
        </div>
    </div>
    <div class="form-group">
        <label for="deckdesc" class="col-sm-2 control-label">Deck Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" ng-model="description" id="deckdesc" placeholder="description"></textarea>
        </div>
    </div>
    <div class="form-group" ng-repeat="card in cards">
        <div class="col-sm-6">
            <textarea class="form-control" placeholder="Front" ng-model="card.front"></textarea>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control" placeholder="Back" ng-model="card.back"></textarea>
        </div>
    </div>
    <button ng-click="add()">New Card</button>
    <button ng-disabled ="updating" ng-click="create()">Submit</button>
</form>