<div class="row">
    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="deck in decks">
        <div class="thumbnail deckeffect" style="padding: 0">
            <div class="caption">
                <h2 style="line-height: 1em; height:2em;">{{deck.title | limitTo:30}}</h2>
                <p style="height: 6em;">{{deck.description | limitTo: 120}}</p>
                <ul class="pager" style="height:10px;">
                    <li>
                        <button type="button" ng-click="changeView(deck.deckId)" class="btn btn-primary">Lernen</button>
                    </li>
                    <li>
                        <button type="button" ng-click="changeToCardView(deck.deckId)" class="btn btn-primary">Karten anzeigen</button>
                    </li>
                </ul>
            </div>
            <div class="modal-footer" style="text-align: left">
            </div>
        </div>
    </div>
</div>