<div class="row" ng-show="isReady">
    <div class="col-md-12">
        <div class="jumbotron learning">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{cardtext}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showingButtonBar">
<div class="row" ng-hide="showingAnswer">
    <div class="col-xs-12"><a ng-click="showAnswer()" class="btn btn-primary btn-lg center-block">Show answer</a></div>
</div>
<div id ="rateAnswer" class="row" ng-show="showingAnswer">
    <div class="col-xs-12 col-sm-3 buttonTopPadding"><a class="btn btn-primary rateButton btn-lg center-block" ng-click="rateAnswer(0)" >Forgotten <br> (<10 min)</a></div>
    <!--<div class="col-xs-12 col-md-2 "><a class="btn btn-primary rateButton btn-lg" ng-click="rateAnswer(1)" >Very Hard ({{buttons[1]|readableTime}})</a></div>
    <div class="col-xs-12 col-md-2 "><a class="btn btn-primary rateButton btn-lg" ng-click="rateAnswer(2)" >Hard ({{buttons[2]|readableTime }})</a></div>
    <div class="col-xs-12 col-md-2 "><a class="btn btn-primary rateButton btn-lg" ng-click="rateAnswer(3)" >Ok ({{buttons[3]|readableTime }})</a></div>
    <div class="col-xs-12 col-md-2 "><a class="btn btn-primary rateButton btn-lg" ng-click="rateAnswer(4)" >Easy ({{buttons[4]|readableTime }})</a></div>
    <div class="col-xs-12 col-md-2 "><a class="btn btn-primary rateButton btn-lg" ng-click="rateAnswer(5)" >Easiest ({{buttons[5]|readableTime}})</a></div>-->
    <div class="col-xs-12 col-sm-3 buttonTopPadding "><a class="btn btn-primary rateButton btn-lg center-block" ng-click="rateAnswer(1)" >Hard <br>(+{{buttons[1]|readableTime}})</a></div>
    <div class="col-xs-12 col-sm-3  buttonTopPadding"><a class="btn btn-primary rateButton btn-lg center-block" ng-click="rateAnswer(3)" >Ok <br>(+{{buttons[3]|readableTime }})</a></div>
    <div class="col-xs-12 col-sm-3  buttonTopPadding"><a class="btn btn-primary rateButton btn-lg center-block" ng-click="rateAnswer(5)" >Easy <br>(+{{buttons[5]|readableTime}})</a></div>
</div>
</div>
<div class="row" ng-show="deckDone">
    <div class="col-xs-12"><a class="btn btn-primary btn-lg center-block" href="#/decklist">Back to my decks</a></div>
</div>