body {
    background-image:url(../img/school.png)
}

.deckeffect{
    -webkit-box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
    -moz-box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
    box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
}

.buttonTopPadding{
    padding-top: 25px;
}

.rateButton{
    width: 150px;
}

.learning{
    min-height: 30em;
}
